<<p>Créer une reservation</p>

<%= simple_form_for([@profesionnel,@booking]) do |b| %>

  <%= b.input :date_resa %>
  <%= b.input :total_resa %>
  <%= b.submit class: "btn btn-primary" %>
<% end %>

<%= link_to "retour a l'index", profesionnels_path, class: "btn btn-primary"  %>
<%# <%= link_to "voir mes bookings",   %> 
