<h1>Liste des coachs dispo</h1>
<% @profesionnels.each do |profesionnel|   %>
<div class="container">
  <div class="card-product">
    <img src="https://blog.salonbodyfitness.com/wp-content/uploads/2019/11/shutterstock_493318507.jpg" />
  </div>
    <div class="info"> <p>nom: <%= profesionnel.name %><br> adresse: <%= profesionnel.adress %><br> category: <%= profesionnel.category %><br> prix: <%= profesionnel.tarif %>$</p></div>
      <div class="btns">
        <%= link_to "Book this coach", new_profesionnel_booking_path(profesionnel, @booking), class:"btn btn-primary" %>
        <%= link_to "edit", edit_profesionnel_path(profesionnel), class:"btn btn-primary" %>
        <%= link_to "",
            profesionnel_path(profesionnel),
            method: :delete,
            class: "fa fa-trash",
            data: { confirm: "Are you sure?" } %>
        </div>
  </div>
<% end %>
<br>
<br>
<%= link_to "Create a profesionnel", new_profesionnel_path, class:"btn btn-primary" %>
