<h1>Liste des coachs dispo</h1>
<% @profesionnels.each do |profesionnel|   %>
<div class="container">
  <div class="card-product">
    <% if profesionnel.photo.attached? %>
      <%= cl_image_tag profesionnel.photo.key, height: 300, width: 400, crop: :fill %>
    <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <% end %>
  </div>
    <div class="info"> <p>nom: <%= profesionnel.name %><br> adresse: <%= profesionnel.adress %><br> category: <%= profesionnel.category %><br> prix: <%= profesionnel.tarif %>$</p></div>
      <div class="btns">
        <%= link_to "Book this coach", new_profesionnel_booking_path(profesionnel, @booking), class:"btn btn-primary" %>
        <%= link_to "edit", edit_profesionnel_path(profesionnel), class:"btn btn-primary" %>
        <%= link_to "",
            profesionnel_path(profesionnel),
            method: :delete,
            class: "fa fa-trash",
            data: { confirm: "Are you sure?" } %>
        </div>
  </div>
<% end %>
<br>
<br>
<%= link_to "Create a profesionnel", new_profesionnel_path, class:"btn btn-primary" %>


